import { test, expect } from '../fixtures';

{{!-- Main Test Definition --}}
{{#if tags}}
test('{{testCaseName}}', {
  tag: [{{#each tags}}'@{{this}}'{{#unless @last}}, {{/unless}}{{/each}}],
}, async (
  {{#if (any fixtures "mode" "extend")}}
    { page{{#each fixtures}}{{#if (eq mode "extend")}}, {{exportName}}{{/if}}{{/each}} }
  {{else}}
    { page }
  {{/if}}
) => {
{{else}}
test('{{testCaseName}}', async (
  {{#if (any fixtures "mode" "extend")}}
    { page{{#each fixtures}}{{#if (eq mode "extend")}}, {{exportName}}{{/if}}{{/each}} }
  {{else}}
    { page }
  {{/if}}
) => {
{{/if}}

  // Test Steps
  {{#each steps}}
  // Step {{add @index 1}}: {{action}}
  {{#if disabled}}
  /* DISABLED STEP
  {{{playwrightCode}}}
  {{#if expected}}
  // Expected: {{expected}}
  {{/if}}
  */
  {{else}}
  {{#if playwrightCode}}
  {{{playwrightCode}}}
  {{else}}
  // TODO: Implement this step
  {{/if}}
  {{#if expected}}
  // Expected: {{expected}}
  {{/if}}
  {{/if}}
  {{#unless @last}}

  {{/unless}}
  {{/each}}
});
